.toDoForm {
  margin: 0;
  margin-top: -450px;
  padding-right: 90px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

label{
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  padding: 0;
  margin-right: 0px;
}

.task-text, .location-text, .date-text{
  font-family: sans-serif, Arial;
  font-size: 19px;
}

.toDo-task{
  
}

.toDo-location{
  
}

.toDo-date{

}


.toDo-task, .toDo-location, .toDo-date{
  border-radius: 5px;
  border-color: black;
  box-shadow: 2px 2px 1px 0px white;
  text-align: center;
  width: auto;
  resize: horizontal;
  overflow: auto;
}

input::placeholder{
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.submit-button{
  grid-column: 2;
  grid-row: 4;
  margin:0;
  padding: 2px;
  text-align: center;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  background-color: black;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.submit-button:hover{
  border-color: white;
  transition: scale(1.2);
}

