/* Header.css */
* {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Use border-box for sizing */
}

body {
  position: relative;
}

/* Container for the entire header */
.checklist-header {
  display: flex; /* Use flexbox for layout */
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start; /* Align items to the left */
    height: 100px; /* Set a height if needed */
}

/*Container for the logo */
.checklist-logo-container {
  padding: 0;
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 1050px;
}

/* Logo image */
.checklist-logo-img {
    width: 35px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px; /* Ensure no top margin */
    margin-left: 1px; /* Ensure no left margin */
}

.checklist-title-container, .checklist-subtitle-container {
  position: absolute;
}

/*Container for the title */
.checklist-title, .checklist-subtitle {
  position: absolute;
  top: 0;
}

/* Title text */
.checklist-title {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -400px;
  text-align: center;
  font-size: 35px;
  z-index: 1;
}

/*Container for the subtitle */
.checklist-subtitle-container {
  
}

/* Subtitle text */
.checklist-subtitle {
  margin-top: -375px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}
