:root {
  --light-background-color: white;
  --light-text-color: black;
  --light-button-background-color: white;
  --light-button-text-color: black;

  --dark-background-color: rgba(53, 51, 51, 0.979);
  --dark-text-color: white;
  --dark-button-text-color: white;
  --dark-button-background-color: black;
}

@media (prefers-color-scheme: dark) {
  body.dark-mode {
    color: var(--dark-text-color);
    background-color: var(--dark-background-color);
  }

  button {
    color: var(--dark-button-text-color);
    background-color: var(--dark-button-background-color);
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}





